/**
功能：	博客园自动生成的目录，样式表
参考：	http://www.cnblogs.com/marvin/p/ExtendWizNoteAutoNnavigation.html
		http://www.cnblogs.com/asxinyu/p/Bolg_Category_For_BlogBeauty.html
*/

#sideToolbar {
	position: fixed;
	bottom: 140px;/*太小或太低部在手机上体验不是很好*/
	right: 25px;
	width: 300px;
	height: 450px
}
#sideCatalog{
	background-color:#fff;
	padding-bottom:10px;
	border-radius:5px;
}
#sideCatalog-sidebar {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #eaeaea;
	border-color: -moz-use-text-color #eaeaea;
	border-image: none;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-style: none solid;
	border-width: 0 1px;
	height: 353px;
	left: 5px;
	position: absolute;
	top: 0;
	width: 0
}
/*目录形成的范围,去掉滚动条，自动展开*/ 
#sideCatalog-catalog {
	height: 365px;/*文章目录的高度*/
	padding-top: 18px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 23px;
	position: relative
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top {
	cursor: pointer;
	top: 0
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
	bottom: 0
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top,#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
	background: url("http://files.cnblogs.com/files/zhaoqingqing/sideToolbar.gif") no-repeat scroll 0 -199px transparent;
	height: 10px;
	left: -5px;
	overflow: hidden;
	position: absolute;
	width: 10px
}
/*缩进1 根节点*/
#sideCatalog li {
	margin: 0px;
	padding: 0px;
	text-align: left;
	position: relative;
	font-size: 14px;
}
#sideCatalog li:hover {
	background-color: #f5f5f5
}
#sideCatalog-catalog ul .active {
	background-color: #f5f5f5
}
#sideCatalog-catalog .active a {
	color: #519cea
}
#sideCatalog-catalog a:hover {
	color: #519cea
}
#sideCatalog span:first-child {
	color: #999;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	padding-right: 5px;
}
/*padding-left(内白)和text-indent(缩进)可以不同时存在*/
/*缩进2： h1/h2 目录的缩进 都是二级节点*/ 
#sideCatalog li.h1Offset,#sideCatalog li.h2Offset {
	text-indent: 16px;
	font-size: 12px;
}
#sideCatalog li.h3Offset {
	text-indent: 45px;/*文本缩进*/
	font-size: 10px;
	font-weight: normal;
}
#sideCatalog li.h4Offset {
	text-indent: 60px;
	font-size: 8px;
}

#sideCatalog li.h1Offset a,#sideCatalog li.h2Offset a {
	font-weight: normal;
}

#sideCatalog a {
	text-decoration: none;
	color: #555;
	font-weight: bold
}
/*目录前的小圆点*/
.sideCatalog-dot {
	background: url("http://files.cnblogs.com/files/zhaoqingqing/sideToolbar.gif") repeat scroll 0 -222px transparent;
	cursor: pointer;
	font-size: 12px;
	height: 10px;
	left: -20px;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	width: 6px
}
#sideCatalog .highlight .sideCatalog-dot {
	background: url("http://files.cnblogs.com/files/zhaoqingqing/sideToolbar.gif") no-repeat scroll -271px -38px transparent;
	height: 13px;
	left: -23px;
	top: 3px;
	width: 18px
}
#sideCatalogBtn {
	background: url("http://files.cnblogs.com/files/zhaoqingqing/sideToolbar.gif") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	display: none;/*把它隐藏吧*/
	height: 45px;
	margin-bottom: 5px;
	margin-left: 5px;
	position: relative;/*位置改成固定*/
	width: 45px;
	margin-top: 10px;/*这个可以改小一点*/
	outline: 0;

}
#sideCatalogBtn:hover {
	background: url("http://files.cnblogs.com/files/zhaoqingqing/sideToolbar.gif") no-repeat scroll -154px 0 transparent
}
.sideCatalogBtnDisable {
	background: url("http://files.cnblogs.com/files/zhaoqingqing/sideToolbar.gif") no-repeat scroll -104px 0 transparent !important
}
#sideToolbar-up {
	background: url("http://files.cnblogs.com/files/zhaoqingqing/sideToolbar.gif") no-repeat scroll -1px -62px transparent;
	border-radius: 2px;
	display: block;
	height: 45px;
	margin-left: 5px;
	width: 45px;
	outline: 0
}
#sideToolbar-up:hover {
	background: url("http://files.cnblogs.com/files/zhaoqingqing/sideToolbar.gif") no-repeat scroll -74px -62px transparent
}