/*
* @file cnblogs.silence-qing
* Created by qingqing.zhao(569032731@qq.com) 
* DateTime: 2020/5/9 23:32
* Desc：silence主题定制for qing
*/


#navList a{
    text-align: left;
}
/* from simplememory start */
/*首页文章标题色*/
div.postTitle {
    margin-bottom: 10px;
    border-left: 10px solid #cd4900;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-size: 160%;
    font-weight: 100;
}

div.postTitle a {
    color: green !important;
    font-weight: bold;
}

.postTitle2{
    margin-left: 4px;
}

/*我的标签添加背景色*/
#MyTag1_dtTagList a,
#EntryTag a,
.catListTag a {
    background-color: #6FA833 !important;
    color: #FFFFFF !important;
    padding: 1px 3px 1px 3px;
    border-radius: 3px;
}
/* from simplememory end */

/*自定义公告内容*/
#SiteContent  {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    height: 220px;
    width: 220px;
    line-height: 1.8;
}
#SiteContent  li{
    float: left;
    width: 110px;
    font-size: 14px;
    line-height: 2;
 }


/*复写silence中的样式*/
.esa-profile-avatar{
    width: 90%;
}
